:root {
    --color-green1: #84DCA4;
    --color-green2: #3f6c4a;
    --color-green3: #142319;
    --color-green4: #1B5B3F;
    --color-green5: #2c4c34;
    --color-green6: #134525;
    --color-green7: #c1dbc8;
    --color-green8: #6eab81;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: var(--color-green1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-green3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-green5);
}

* {
    font-family: 'oswald-medium', sans-serif;
    box-sizing: border-box;
    letter-spacing: normal;
	transition: all 500ms ease-in-out;
}

img {
    width: 100%;
}

body {
    background: var(--color-green1);
    margin: 0px;
    padding-top: 78px;
}

div.header {
    background: var(--color-green2);
    width: 100%;
    height: 78px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    z-index: 100;
}

div.content {
    width: 1260px;
    margin: 0px auto;
}

div.header-title {
    font-size: 38px;
    color: var(--color-green3);
    font-weight: bold;
    font-family: 'oswald', sans-serif;
}

table.header-table {
    height: 78px;
}

table {
    width: 100%;
    text-align: center;
}

a.header-button {
    padding: 7px 17px;
    margin: 2px;
    border: 2px solid var(--color-green4);
    background: var(--color-green3);
    height: 35px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

a.header-button:hover {
    background: white;
    color: var(--color-green4);
}

a.header-button[class*='active'] {
    background: var(--color-green1);
    color: var(--color-green4);
}

.form-control {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid var(--color-green5);
}

h3 {
    font-size: 22px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    margin: 10px 0px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    margin: 50px 0px 30px 0px;
}

h5 {
    font-size: 18px;
    color: var(--color-green5);
    margin: 10px 0px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
}

p {
    font-size: 16px;
    color: var(--color-green5);
    margin: 20px 0px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
}

div.subscribe-footer {
    padding-top: 20px;
}

.width-40 {
    width: 40%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.auto-div {
    margin: 0px auto;
}

.text-align-center {
    text-align: center;
}

input.form-control {
    color: var(--color-green5);
    background: none;
}

input.form-control::-webkit-input-placeholder {
    color: var(--color-green5);
}

.form-control:focus-visible {
    outline: none;
}

.form-control:invalid {
    border: 1px solid red;
}

button.form-control {
    color: white;
    background: var(--color-green5);
    font-weight: bold;
    cursor: pointer;
}

button.form-control:hover {
    background: var(--color-green2);
}

img.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.pd-20 {
    padding: 0px 50px;
}

.faq-footer {
    background: var(--color-green6);
}

.color-bright-green {
    color: var(--color-green1);
}

div.faq-title {
    height: 70px;
    width: 80%;
}

div.faq-content, div.faq-title {
    text-align: left;
    width: 80%;
    padding-bottom: 100px;
}

div.menu-footer {
    padding: 20px 0px;
    color: var(--color-green3);
}

.footer-menu-link {
    font-family: 'oswald', sans-serif;
    text-decoration: underline;
    padding: 5px 30px;
    cursor: pointer;
    color: var(--color-green6);
}

td.vertical-top {
    vertical-align: top;
}

div.content-home-body {
    background: var(--color-green3);
}

span.home-title {
    word-wrap: break-word;
    font-size: 52px;
    color: var(--color-green7);
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    display: block;
}

.ptb-40 {
    padding: 40px 20px;
}

a.read-whitepaper {
    background: var(--color-green5);
    color: white;
    text-decoration: none;
    padding: 15px 0px;
    margin-top: 50px;
    display: block;
    width: 315px;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.color-green7 {
    color: var(--color-green7);
}

a.read-whitepaper:hover {
    background: var(--color-green6);
}

a.social-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: inline-block;
    background: var(--color-green1);
}

a.social-icon:hover {
    background: var(--color-green2);
}

a.social-icon img {
    width: 40px;
    height: 40px;
}

div.content-body {
    background: #f0f0f0;
    padding-top: 30px;
}

div.flex-div {
    display: flex;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-appear-active,
.fade-enter-active {
  transition: 0.3s ease-in;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit {
  transition: 0.3s ease-out;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
}