:root {
    --color-green1: #84DCA4;
    --color-green2: #3f6c4a;
    --color-green3: #142319;
    --color-green4: #1B5B3F;
    --color-green5: #2c4c34;
    --color-green6: #134525;
    --color-green7: #c1dbc8;
    --color-green8: #6eab81;
    --color-green8: #c2edd2;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color-green1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-green3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-green5);
}

* {
    font-family: 'oswald-medium', sans-serif;
    box-sizing: border-box;
    letter-spacing: normal;
	transition: all 500ms ease-in-out;
}

img {
    width: 100%;
}

body {
    background: var(--color-green1);
    margin: 0px;
    padding-top: 115px;
    overflow: auto;
}

html {
    overflow: auto;
}

div.header {
    border-bottom: 2px solid var(--color-green3);
    background: var(--color-green2);
    width: 100%;
    height: 115px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    z-index: 100;
}

div.content {
    width: 1260px;
    margin: 0px auto;
}

div.header-title {
    font-size: 38px;
    color: var(--color-green3);
    font-weight: bold;
    font-family: 'oswald', sans-serif;
    padding-right: 50px;
}

table.header-table {
    height: 115px;
}

table {
    width: 100%;
    text-align: center;
}

a.header-button {
    padding: 7px 17px;
    margin: 2px;
    border: 2px solid var(--color-green4);
    background: var(--color-green3);
    height: 35px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width: 95%;
    display: block;
}

a.header-button:hover {
    background: white;
    color: var(--color-green4);
}

a.header-button[class*='active'] {
    background: var(--color-green1);
    color: var(--color-green4);
}

.form-control {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid var(--color-green5);
}

h3 {
    font-size: 22px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    margin: 10px 0px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    margin: 50px 0px 30px 0px;
}

h5 {
    font-size: 18px;
    color: var(--color-green5);
    margin: 10px 0px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
}

p {
    font-size: 16px;
    color: var(--color-green5);
    margin: 20px 0px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
}

div.subscribe-footer {
    margin: 0px;
}

.width-40 {
    width: 40%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.auto-div {
    margin: 0px auto;
}

.text-align-center {
    text-align: center;
}

.form-control {
    color: var(--color-green5);
    background: none;
}

.form-control::-webkit-input-placeholder {
    color: var(--color-green5);
}

.form-control:focus-visible {
    outline: none;
}

.form-control:invalid {
    border: 1px solid red;
}

button.form-control {
    color: white;
    background: var(--color-green5);
    font-weight: bold;
    cursor: pointer;
}

button.form-control:hover {
    background: var(--color-green2);
}

img.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.pd-20 {
    padding: 0px 50px;
}

.faq-footer {
    background: var(--color-green6);
}

.color-bright-green {
    color: var(--color-green1);
}

div.faq-content, div.faq-title {
    text-align: left;
    width: 80%;
    padding-bottom: 30px;
}

div.menu-footer {
    padding: 20px 0px;
    color: var(--color-green3);
}

.footer-menu-link {
    font-family: 'oswald', sans-serif;
    text-decoration: underline;
    padding: 5px 30px;
    cursor: pointer;
    color: var(--color-green6);
}

td.vertical-top {
    vertical-align: top;
}

div.content-home-body {
    background: var(--color-green3);
    padding: 40px 0px;
}

div.content-home-body .content {
    background: var(--color-green2);
}

span.home-title {
    word-wrap: break-word;
    font-size: 52px;
    color: var(--color-green7);
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    display: block;
}

.ptb-40 {
    padding: 40px 20px;
}

a.read-whitepaper {
    background: var(--color-green1);
    color: var(--color-green5);
    text-decoration: none;
    padding: 15px 0px;
    margin-top: 50px;
    display: block;
    width: 315px;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.color-green7 {
    color: var(--color-green7);
}

a.read-whitepaper:hover {
    background: var(--color-green5);
    color: white;
}

a.social-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: inline-block;
    background: var(--color-green1);
}

a.social-icon:hover {
    background: var(--color-green2);
}

a.social-icon img {
    width: 40px;
    height: 40px;
}

div.content-body {
    background: var(--color-green3);
    padding-top: 30px;
}

div.flex-div {
    display: flex;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-appear-active,
.fade-enter-active {
  transition: 0.3s ease-in;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit {
  transition: 0.3s ease-out;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
}

.header-title-td {
    width: 180px;
    min-width: 180px;
}

.header-icon-td {
    width: 70px;
    min-width: 70px;
}

.margin-top--30 {
    margin-top: -30px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.text-left {
    text-align: left;
}

.color-green3 {
    color: var(--color-green3) !important;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-green2);
}

.width-33 {
    width: 33%;
}

.width-50 {
    width: 50%;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mobile-div {
    display: none;
}

.header .content,
.header .mobile-div {
    height: 115px;
}

.pd-10 {
    padding: 10px !important;
}

.pd-20 {
    padding: 20px !important;
}

.text-justify {
    text-align: justify !important;
}

.faq-title h2 {
    color: var(--color-green5) !important;
    font-family: 'oswald', sans-serif;
}

.faq-row-wrapper {
    background-color: #f0f0f0 !important;
    padding: 20px 0px 50px 0px;
}

.faq-body .row-title-text {
    color: var(--color-green5) !important;
    font-family: 'raleway', sans-serif;
    font-weight: bolder;
}

.faq-body .row-content-text {
    color: var(--color-green5) !important;
    font-family: 'raleway', sans-serif;
}

.best-post {
    width: 100%;
    height: 20em;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 1s;
    cursor: pointer;
    background: var(--color-green8);
}
.best-post:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.best-post:hover .best-post-image {
    border-radius: 15px 0 0 15px;
}
.best-post-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    height: 100%;
    border-radius: 15px;
    margin-right: 25px;
    transition: 1s;
}

.best-post-content {
    padding: 0px 20px;
    width: 60%;
}

.best-post-content-cat {
    padding: 6px 15px;
    background: #53f567;
    border-radius: 9999px;
    width: fit-content;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.5;
    font-family: Gilroy-Medium;
    color: #1d291f;
    font-size: 15px;
}

.best-post-content-title {
    font-family: 'oswald', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1;
    color: #1d291f;
}

.best-post-content-sub {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #1d291f;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
}

.seperator-table td.width-33:nth-child(1),
.seperator-table td.width-33:nth-child(2) {
    border-right: 2px solid var(--color-green4);
}

.seperator-table {
    border-spacing: 0px;
}

@media screen and (max-width: 600px) {
    .desktop-div {
        display: none;
    }

    .mobile-div {
        display: block;
    }

    .content-home-body .mobile-div {
        padding: 10px;
    }

    .content {
        width: 100% !important;
    }

    .home-title {
        font-size: 40px !important;
    }

    .content-home-body .content {
        text-align: center;
    }

    .feature-icon {
        left: calc(50% - 25px);
        position: relative;
    }

    h1 {
        font-size: 32px;
    }
}

.blog h2,
.blog h3,
.blog h4,
.blog h5 {
    color: var(--color-green3) !important;
    margin-top: 0px;
    text-align: center !important;
}

.blog h2 {
    font-size: 40px !important;
}

.blog h3 {
    font-size: 35px !important;
}

.blog h4 {
    font-size: 30px !important;
}

.blog h5 {
    font-size: 25px !important;
}

@media screen and (max-width: 1400px) {
    .header .desktop-div {
        display: none;
    }

    .header .mobile-div {
        display: block;
    }

    .header .logo-div {
        padding: 10px;
        text-align: center;
        position: relative;
        top: 10px;
    }

    .header .logo-div img {
        width: 70px;
        display: inline-block;
    }

    .header .header-title {
        padding: 0px;
        display: inline-block;
        position: relative;
        top: -18px;
    }

    .menu-icon {
        float: left;
        width: 50px !important;
        position: relative;
        top: -70px;
        left: 10px;
        padding: 10px;
        cursor: pointer;
    }

    .menu-icon:hover {
        background: var(--color-green1);
    }

    .header-menu {
        position: fixed;
        z-index: 100;
        top: 115px;
        left: 0px;
        width: 100%;
        padding: 10px 20px;
        background: var(--color-green2);
        border-bottom: 2px solid var(--color-green3);
    }

    .header-menu .header-button {
        margin-right: 0px !important;
        width: calc(50% - 2px);
        display: inline-block;
        text-align: center;
    }

    .mobile-width-100 {
        width: 100% !important;
    }
}

/*
 * CKEditor 5 (v33.0.0) content styles.
 * Generated on Mon, 11 Apr 2022 08:13:21 GMT.
 * For more information, check out https://ckeditor.com/docs/ckeditor5/latest/installation/advanced/content-styles.html
 */

 :root {
    --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%);
    --ck-color-mention-background: hsla(341, 100%, 30%, 0.1);
    --ck-color-mention-text: hsl(341, 100%, 30%);
    --ck-color-table-caption-background: hsl(0, 0%, 97%);
    --ck-color-table-caption-text: hsl(0, 0%, 20%);
    --ck-highlight-marker-blue: hsl(201, 97%, 72%);
    --ck-highlight-marker-green: hsl(120, 93%, 68%);
    --ck-highlight-marker-pink: hsl(345, 96%, 73%);
    --ck-highlight-marker-yellow: hsl(60, 97%, 73%);
    --ck-highlight-pen-green: hsl(112, 100%, 27%);
    --ck-highlight-pen-red: hsl(0, 85%, 49%);
    --ck-image-style-spacing: 1.5em;
    --ck-inline-image-style-spacing: calc(var(--ck-image-style-spacing) / 2);
    --ck-todo-list-checkmark-size: 16px;
}

/* ckeditor5-basic-styles/theme/code.css */
.ck-content code {
    background-color: hsla(0, 0%, 78%, 0.3);
    padding: .15em;
    border-radius: 2px;
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-block-quote/theme/blockquote.css */
.ck-content[dir="rtl"] blockquote {
    border-left: 0;
    border-right: solid 5px hsl(0, 0%, 80%);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-yellow {
    background-color: var(--ck-highlight-marker-yellow);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-green {
    background-color: var(--ck-highlight-marker-green);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-pink {
    background-color: var(--ck-highlight-marker-pink);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .marker-blue {
    background-color: var(--ck-highlight-marker-blue);
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-red {
    color: var(--ck-highlight-pen-red);
    background-color: transparent;
}
/* ckeditor5-highlight/theme/highlight.css */
.ck-content .pen-green {
    color: var(--ck-highlight-pen-green);
    background-color: transparent;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-tiny {
    font-size: .7em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-small {
    font-size: .85em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-big {
    font-size: 1.4em;
}
/* ckeditor5-font/theme/fontsize.css */
.ck-content .text-huge {
    font-size: 1.8em;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image {
    display: table;
    clear: both;
    text-align: center;
    margin: 0.9em auto;
    min-width: 50px;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image-inline {
    /*
     * Normally, the .image-inline would have "display: inline-block" and "img { width: 100% }" (to follow the wrapper while resizing).;
     * Unfortunately, together with "srcset", it gets automatically stretched up to the width of the editing root.
     * This strange behavior does not happen with inline-flex.
     */
    display: inline-flex;
    max-width: 100%;
    align-items: flex-start;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture {
    display: flex;
}
/* ckeditor5-image/theme/image.css */
.ck-content .image-inline picture,
.ck-content .image-inline img {
    flex-grow: 1;
    flex-shrink: 1;
    max-width: 100%;
}
/* ckeditor5-image/theme/imagecaption.css */
.ck-content .image > figcaption {
    display: table-caption;
    caption-side: bottom;
    word-break: break-word;
    color: var(--ck-color-image-caption-text);
    background-color: var(--ck-color-image-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized {
    max-width: 100%;
    display: block;
    box-sizing: border-box;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized img {
    width: 100%;
}
/* ckeditor5-image/theme/imageresize.css */
.ck-content .image.image_resized > figcaption {
    display: block;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left,
.ck-content .image-style-block-align-right {
    max-width: calc(100% - var(--ck-image-style-spacing));
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left,
.ck-content .image-style-align-right {
    clear: none;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-left {
    float: left;
    margin-right: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-center {
    margin-left: auto;
    margin-right: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-align-right {
    float: right;
    margin-left: var(--ck-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-right {
    margin-right: 0;
    margin-left: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-style-block-align-left {
    margin-left: 0;
    margin-right: auto;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content p + .image-style-align-left,
.ck-content p + .image-style-align-right,
.ck-content p + .image-style-side {
    margin-top: 0;
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left,
.ck-content .image-inline.image-style-align-right {
    margin-top: var(--ck-inline-image-style-spacing);
    margin-bottom: var(--ck-inline-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-left {
    margin-right: var(--ck-inline-image-style-spacing);
}
/* ckeditor5-image/theme/imagestyle.css */
.ck-content .image-inline.image-style-align-right {
    margin-left: var(--ck-inline-image-style-spacing);
}
/* ckeditor5-language/theme/language.css */
.ck-content span[lang] {
    font-style: italic;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list {
    list-style: none;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li {
    margin-bottom: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list li .todo-list {
    margin-top: 5px;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input {
    -webkit-appearance: none;
    display: inline-block;
    position: relative;
    width: var(--ck-todo-list-checkmark-size);
    height: var(--ck-todo-list-checkmark-size);
    vertical-align: middle;
    border: 0;
    left: -25px;
    margin-right: -15px;
    right: 0;
    margin-left: 0;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::before {
    display: block;
    position: absolute;
    box-sizing: border-box;
    content: '';
    width: 100%;
    height: 100%;
    border: 1px solid hsl(0, 0%, 20%);
    border-radius: 2px;
    transition: 250ms ease-in-out box-shadow, 250ms ease-in-out background, 250ms ease-in-out border;
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input::after {
    display: block;
    position: absolute;
    box-sizing: content-box;
    pointer-events: none;
    content: '';
    left: calc( var(--ck-todo-list-checkmark-size) / 3 );
    top: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
    width: calc( var(--ck-todo-list-checkmark-size) / 5.3 );
    height: calc( var(--ck-todo-list-checkmark-size) / 2.6 );
    border-style: solid;
    border-color: transparent;
    border-width: 0 calc( var(--ck-todo-list-checkmark-size) / 8 ) calc( var(--ck-todo-list-checkmark-size) / 8 ) 0;
    transform: rotate(45deg);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::before {
    background: hsl(126, 64%, 41%);
    border-color: hsl(126, 64%, 41%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label > input[checked]::after {
    border-color: hsl(0, 0%, 100%);
}
/* ckeditor5-list/theme/todolist.css */
.ck-content .todo-list .todo-list__label .todo-list__label__description {
    vertical-align: middle;
}
/* ckeditor5-media-embed/theme/mediaembed.css */
.ck-content .media {
    clear: both;
    margin: 0.9em 0;
    display: block;
    min-width: 15em;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break {
    position: relative;
    clear: both;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break::after {
    content: '';
    position: absolute;
    border-bottom: 2px dashed hsl(0, 0%, 77%);
    width: 100%;
}
/* ckeditor5-page-break/theme/pagebreak.css */
.ck-content .page-break__label {
    position: relative;
    z-index: 1;
    padding: .3em .6em;
    display: block;
    text-transform: uppercase;
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 2px;
    font-family: Helvetica, Arial, Tahoma, Verdana, Sans-Serif;
    font-size: 0.75em;
    font-weight: bold;
    color: hsl(0, 0%, 20%);
    background: hsl(0, 0%, 100%);
    box-shadow: 2px 2px 1px hsla(0, 0%, 0%, 0.15);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* ckeditor5-table/theme/tablecaption.css */
.ck-content .table > figcaption {
    display: table-caption;
    caption-side: top;
    word-break: break-word;
    text-align: center;
    color: var(--ck-color-table-caption-text);
    background-color: var(--ck-color-table-caption-background);
    padding: .6em;
    font-size: .75em;
    outline-offset: -1px;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table {
    margin: 0.9em auto;
    display: table;
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    height: 100%;
    border: 1px double hsl(0, 0%, 70%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table td,
.ck-content .table table th {
    min-width: 2em;
    padding: .4em;
    border: 1px solid hsl(0, 0%, 75%);
}
/* ckeditor5-table/theme/table.css */
.ck-content .table table th {
    font-weight: bold;
    background: hsla(0, 0%, 0%, 5%);
}
/* ckeditor5-table/theme/table.css */
.ck-content[dir="rtl"] .table th {
    text-align: right;
}
/* ckeditor5-table/theme/table.css */
.ck-content[dir="ltr"] .table th {
    text-align: left;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre {
    padding: 1em;
    color: hsl(0, 0%, 20.8%);
    background: hsla(0, 0%, 78%, 0.3);
    border: 1px solid hsl(0, 0%, 77%);
    border-radius: 2px;
    text-align: left;
    direction: ltr;
    tab-size: 4;
    white-space: pre-wrap;
    font-style: normal;
    min-width: 200px;
}
/* ckeditor5-code-block/theme/codeblock.css */
.ck-content pre code {
    background: unset;
    padding: 0;
    border-radius: 0;
}
/* ckeditor5-horizontal-line/theme/horizontalline.css */
.ck-content hr {
    margin: 15px 0;
    height: 4px;
    background: hsl(0, 0%, 87%);
    border: 0;
}
/* ckeditor5-mention/theme/mention.css */
.ck-content .mention {
    background: var(--ck-color-mention-background);
    color: var(--ck-color-mention-text);
}
@media print {
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break {
        padding: 0;
    }
    /* ckeditor5-page-break/theme/pagebreak.css */
    .ck-content .page-break::after {
        display: none;
    }
}
