:root {
    --color-green1: #84DCA4;
    --color-green2: #3f6c4a;
    --color-green3: #142319;
    --color-green4: #1B5B3F;
    --color-green5: #2c4c34;
    --color-green6: #134525;
    --color-green7: #c1dbc8;
    --color-green8: #6eab81;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: var(--color-green1);
}

::-webkit-scrollbar-thumb {
    background: var(--color-green3);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-green5);
}

* {
    font-family: 'oswald-medium', sans-serif;
    box-sizing: border-box;
    letter-spacing: normal;
	transition: all 500ms ease-in-out;
}

img {
    width: 100%;
}

body {
    background: var(--color-green1);
    margin: 0px;
    padding-top: 115px;
    overflow: auto;
}

html {
    overflow: auto;
}

div.header {
    border-bottom: 2px solid var(--color-green3);
    background: var(--color-green2);
    width: 100%;
    height: 115px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    z-index: 100;
}

div.content {
    width: 1260px;
    margin: 0px auto;
}

div.header-title {
    font-size: 38px;
    color: var(--color-green3);
    font-weight: bold;
    font-family: 'oswald', sans-serif;
    padding-right: 50px;
}

table.header-table {
    height: 115px;
}

table {
    width: 100%;
    text-align: center;
}

a.header-button {
    padding: 7px 17px;
    margin: 2px;
    border: 2px solid var(--color-green4);
    background: var(--color-green3);
    height: 35px;
    cursor: pointer;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    width: 95%;
    display: block;
}

a.header-button:hover {
    background: white;
    color: var(--color-green4);
}

a.header-button[class*='active'] {
    background: var(--color-green1);
    color: var(--color-green4);
}

.form-control {
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid var(--color-green5);
}

h3 {
    font-size: 22px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    margin: 10px 0px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
    color: var(--color-green5);
    font-family: 'oswald', sans-serif;
    font-weight: bold;
    margin: 50px 0px 30px 0px;
}

h5 {
    font-size: 18px;
    color: var(--color-green5);
    margin: 10px 0px;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
}

p {
    font-size: 16px;
    color: var(--color-green5);
    margin: 20px 0px;
    font-weight: 400;
    line-height: 25px;
    font-family: 'raleway', sans-serif;
}

div.subscribe-footer {
    padding-top: 20px;
}

.width-40 {
    width: 40%;
}

.width-80 {
    width: 80%;
}

.width-60 {
    width: 60%;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.mb-100 {
    margin-bottom: 100px !important;
}

.mt-50 {
    margin-top: 50px !important;
}

.auto-div {
    margin: 0px auto;
}

.text-align-center {
    text-align: center;
}

input.form-control {
    color: var(--color-green5);
    background: none;
}

input.form-control::-webkit-input-placeholder {
    color: var(--color-green5);
}

.form-control:focus-visible {
    outline: none;
}

.form-control:invalid {
    border: 1px solid red;
}

button.form-control {
    color: white;
    background: var(--color-green5);
    font-weight: bold;
    cursor: pointer;
}

button.form-control:hover {
    background: var(--color-green2);
}

img.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}

.pd-20 {
    padding: 0px 50px;
}

.faq-footer {
    background: var(--color-green6);
}

.color-bright-green {
    color: var(--color-green1);
}

div.faq-content, div.faq-title {
    text-align: left;
    width: 80%;
    padding-bottom: 30px;
}

div.menu-footer {
    padding: 20px 0px;
    color: var(--color-green3);
}

.footer-menu-link {
    font-family: 'oswald', sans-serif;
    text-decoration: underline;
    padding: 5px 30px;
    cursor: pointer;
    color: var(--color-green6);
}

td.vertical-top {
    vertical-align: top;
}

div.content-home-body {
    background: var(--color-green3);
    padding: 40px 0px;
}

div.content-home-body .content {
    background: var(--color-green2);
}

span.home-title {
    word-wrap: break-word;
    font-size: 52px;
    color: var(--color-green7);
    font-weight: bold;
    font-family: 'raleway', sans-serif;
    display: block;
}

.ptb-40 {
    padding: 40px 20px;
}

a.read-whitepaper {
    background: var(--color-green1);
    color: var(--color-green5);
    text-decoration: none;
    padding: 15px 0px;
    margin-top: 50px;
    display: block;
    width: 315px;
    font-family: 'raleway', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.color-green7 {
    color: var(--color-green7);
}

a.read-whitepaper:hover {
    background: var(--color-green5);
    color: white;
}

a.social-icon {
    width: 50px;
    height: 50px;
    padding: 5px;
    display: inline-block;
    background: var(--color-green1);
}

a.social-icon:hover {
    background: var(--color-green2);
}

a.social-icon img {
    width: 40px;
    height: 40px;
}

div.content-body {
    background: #f0f0f0;
    padding-top: 30px;
}

div.flex-div {
    display: flex;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  transform: translateY(10px);
}

.fade-appear-active,
.fade-enter-active {
  transition: 0.3s ease-in;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit {
  transition: 0.3s ease-out;
  transform: translateY(0px);
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transform: translateY(10px);
}

.header-title-td {
    width: 180px;
    min-width: 180px;
}

.header-icon-td {
    width: 70px;
    min-width: 70px;
}

.margin-top--30 {
    margin-top: -30px !important;
}

.text-left {
    text-align: left;
}

.color-green3 {
    color: var(--color-green3) !important;
}

h4 {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-green2);
}

.width-33 {
    width: 33%;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-20 {
    padding-bottom: 20px;
}

.mobile-div {
    display: none;
}

.header .content,
.header .mobile-div {
    height: 115px;
}

.pd-10 {
    padding: 10px !important;
}

.pd-20 {
    padding: 20px !important;
}

.text-justify {
    text-align: justify !important;
}

.faq-title h2 {
    color: var(--color-green5) !important;
    font-family: 'oswald', sans-serif;
}

.faq-row-wrapper {
    background-color: #f0f0f0 !important;
    padding: 20px 0px 50px 0px;
}

.faq-body .row-title-text {
    color: var(--color-green5) !important;
    font-family: 'raleway', sans-serif;
    font-weight: bolder;
}

.faq-body .row-content-text {
    color: var(--color-green5) !important;
    font-family: 'raleway', sans-serif;
}

.best-post {
    width: 100%;
    height: 20em;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    transition: 1s;
}
.best-post:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
    background-color: #fff;
}

.best-post:hover .best-post-image {
    border-radius: 15px 0 0 15px;
}
.best-post-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    margin-right: 25px;
    transition: 1s;
}
.best-post-content {
}

.best-post-content-cat {
    padding: 6px 15px;
    background: #53f567;
    border-radius: 9999px;
    width: fit-content;
    margin-bottom: 15px;
    text-align: center;
    line-height: 1.5;
    font-family: Gilroy-Medium;
    color: #1d291f;
    font-size: 15px;
}

.best-post-content-title {
    font-family: 'oswald', sans-serif;
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom: 15px;
    line-height: 1;
    color: #1d291f;
}

.best-post-content-sub {
    font-size: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
    color: #1d291f;
    font-family: 'raleway', sans-serif;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .desktop-div {
        display: none;
    }

    .mobile-div {
        display: block;
    }

    .content-home-body .mobile-div {
        padding: 10px;
    }

    .content {
        width: 100% !important;
    }

    .home-title {
        font-size: 40px !important;
    }

    .content-home-body .content {
        text-align: center;
    }

    .feature-icon {
        left: calc(50% - 25px);
        position: relative;
    }

    h1 {
        font-size: 32px;
    }

    .menu-icon {
        float: left;
        width: 50px !important;
        position: relative;
        top: -70px;
        left: 10px;
        padding: 10px;
    }

    .menu-icon:hover {
        background: var(--color-green1);
    }

    .header-menu {
        position: fixed;
        z-index: 100;
        top: 115px;
        width: 100%;
        padding: 10px;
    }
}

@media screen and (max-width: 1400px) {
    .header .desktop-div {
        display: none;
    }

    .header .mobile-div {
        display: block;
    }

    .header .logo-div {
        padding: 10px;
        text-align: center;
        position: relative;
        top: 10px;
    }

    .header .logo-div img {
        width: 70px;
        display: inline-block;
    }

    .header .header-title {
        padding: 0px;
        display: inline-block;
        position: relative;
        top: -18px;
    }
}